<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>comingSoon.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>CreateSessionServlet</servlet-name>
    <servlet-class>no.koredu.server.CreateSessionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestSessionServlet</servlet-name>
    <servlet-class>no.koredu.server.RequestSessionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ApproveSessionServlet</servlet-name>
    <servlet-class>no.koredu.server.ApproveSessionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DenySessionServlet</servlet-name>
    <servlet-class>no.koredu.server.DenySessionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PublishLocationServlet</servlet-name>
    <servlet-class>no.koredu.server.PublishLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSessionServlet</servlet-name>
    <url-pattern>/createSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestSessionServlet</servlet-name>
    <url-pattern>/requestSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ApproveSessionServlet</servlet-name>
    <url-pattern>/approveSession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DenySessionServlet</servlet-name>
    <url-pattern>/denySession</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublishLocationServlet</servlet-name>
    <url-pattern>/publishLocation</url-pattern>
  </servlet-mapping>
</web-app>